.wrapper {
  position: relative;
  padding-right: 23px;
  display: inline-block;
  min-width: 50px;
}

.edit_icon {
  opacity: .4;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.wrapper:hover .edit_icon {
  display: block;
}